<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>BattleOnline</title>
</head>
<body>
	<div class="" id="Inicio">
		<h1>Battle Online Blog</h1>
		<a href="http://Ethacarinage.pythonanywhere.com">Mi página...</a>
	</div>
	{%for post in posts%}
		<div>
			<p>Published: 02.12.2017, 11:59</p>
			<h2><a href="">Mi primer Post</a></h2>
			{{post}}
		</div>
	{%endfor%}
	{{post}}
	<div>
		<p>Published: 02.12.2017, 11:59</p>
		<h2><a href="">Mi segundo Post</a></h2>
		<p>Mi nombre es ... </p>
	</div>

	<div id="Fin" class="">
		<p>Jesus David Mena Rivera</p>
		<p>Universidad Tecnologica de Pereira</p>
		<p>DjangoMen</p>
	</div>
</body>
</html>